<div class="search">
  <mat-form-field class="field">
    <mat-label>Broj artikla</mat-label>
    <input
      name="itemNumber"
      [(ngModel)]="itemNumber"
      autocomplete="off"
      type="text"
      matInput
    />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Naziv</mat-label>
    <input
      name="name"
      [(ngModel)]="name"
      autocomplete="off"
      type="text"
      matInput
    />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Šifra proizvodjača</mat-label>
    <input
      name="supplierCode"
      [(ngModel)]="supplierCode"
      autocomplete="off"
      type="text"
      matInput
    />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Proizvodjačev br. artikla</mat-label>
    <input
      name="supplierItemNumber"
      [(ngModel)]="supplierItemNumber"
      autocomplete="off"
      type="text"
      matInput
    />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Stanje</mat-label>
    <mat-select name="cnt" [(ngModel)]="cnt">
      <mat-option *ngFor="let item of itemCount" [value]="item.value">
        {{ item.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Neophodna nabavka</mat-label>
    <mat-select name="procurement" [(ngModel)]="isProcurementNeeded">
      <mat-option *ngFor="let item of procurement" [value]="item.value">
        {{ item.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    *ngIf="user.type === 'head-of-procurement'"
    class="add-btn"
    (click)="addMaterial()"
  >
    Dodaj novi materijal
  </button>
</div>
<div class="content">
  <mat-grid-list cols="3" rowHeight="350px" class="mat-gallery">
    <mat-grid-tile
      *ngFor="
        let material of materials
          | itemNumber: itemNumber
          | supplierCode: supplierCode
          | name: name
          | supplierItemNumber: supplierItemNumber
          | itemCount: cnt
          | procurement: isProcurementNeeded;
        let i = index
      "
    >
      <mat-card class="card">
        <p><b>Broj artikla: </b> {{ material.itemNumber }}</p>
        <p><b>Naziv: </b> {{ material.name }}</p>
        <p><b>Šifra proizvodjača: </b> {{ material.supplierCode }}</p>
        <p>
          <b>Proizvodjačev br. artikla: </b> {{ material.supplierItemNumber }}
        </p>
        <p>
          <b>Kolicina: </b>{{ material?.stock.count }}/{{
            material?.stock.capacity
          }}
          {{ material.unit }}
        </p>
        <p
          *ngIf="material?.stock.count < material?.stock.capacity / 5"
          style="color: red"
        >
          <b>NEOPHODNA NABAVKA</b>
        </p>
        <div class="btn-group">
          <button *ngIf="user.type === 'stockkeeper'" (click)="need(i)">
            Trebovanje
          </button>
          <button
            (click)="orderMaterial(i)"
            *ngIf="user.type === 'head-of-procurement'"
          >
            Naruči
          </button>
          <button
            (click)="deleteMaterial(i)"
            *ngIf="user.type === 'head-of-procurement'"
          >
            Ukloni
          </button>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
