.create-order-dialog {
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row-reverse;
}

.close-btn {
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    color: #939ea8;
    height: 5px;
    margin-top: -17px;
    margin-right: -12px;
}

.close-btn:focus {
    outline: none;
    box-shadow: none;
}

.content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: black !important;
}

::ng-deep.mat-form-field-underline {
    background-color: black !important;
}

::ng-deep.mat-form-field-ripple {
    background-color: black !important;
}

.add-btn {
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 10px;
    height: 100%;
}

.add-btn:hover {
    cursor: pointer;
}

.btn-div {
    background-color: 'red';
    height: 10%;
}

.full-width {
    margin-top: 10px;
}

.err-msg {
    padding-left: 2%;
}

.error {
    color: red;
}

.device-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    justify-content: space-between;
}

.cooling-chamber-model {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cooling-chamber-model-element {
    margin-left: 1vh;
    margin-right: 1vh;
    width: 100px;
}

.air-chamber-model {
    display: inline-block;
}

.air-chamber-model-element {
    margin-left: 1vh;
    margin-right: 1vh;
    width: 120px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #000 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #000;
}