<div class="update-dialog">
    <div class="header">
        <button mat-dialog-close class="close-btn">X</button>
    </div>
    <div class='content' [formGroup]="form">
        <mat-form-field class="full-width">
            <mat-label>Ime</mat-label>
            <input autocomplete="off" type="text" name="firstName" matInput formControlName="firstName" value="">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="form.controls['firstName'].errors && form.controls['firstName'].errors['required']">
                Polje je obavezno
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Prezime</mat-label>
            <input autocomplete="off" type="text" name="lastName" formControlName="lastName" matInput value="">
            <mat-icon matSuffix>people</mat-icon>
            <mat-error *ngIf="form.controls['lastName'].errors && form.controls['lastName'].errors['required']">
                Polje je obavezno
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label [ngClass]="{error: resMsg == 'mail'}">Email</mat-label>
            <input autocomplete="off" type="email" (input)="onChange()" name="email" matInput value=""
                formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']">
                Polje je obavezno
            </mat-error>
            <mat-error *ngIf="form.controls['email'].errors && form.controls['email'].errors['email']">
                Format koji ste uneli ne odgovara email-u
            </mat-error>
            <mat-hint class="error" *ngIf="resMsg == 'mail'">E-mail je zauzet. Molimo Vas pokušajte neki drugi
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Tip korisnika</mat-label>
            <mat-select formControlName="type" name="type">
                <mat-option *ngFor="let type of userTypes" [value]="type.value">
                    {{type.label}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['type'].errors && form.controls['type'].errors['required']">
                Polje je obavezno
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Datum rodjenja</mat-label>
            <input autocomplete="off" type="date" formControlName="dateOfBirth" name="dateOfBirth" matInput value="">
            <mat-error *ngIf="form.controls['dateOfBirth'].errors && form.controls['dateOfBirth'].errors['required']">
                Polje je obavezno
            </mat-error>
        </mat-form-field>
        <button class="change-btn" (click)="change()">Sačuvaj izmene</button>
    </div>
</div>