<header *ngIf="user?.type == 'admin'">
  <img
    src="../assets/img/banner.png"
    alt="banner png"
    [routerLink]="['/admin/']"
  />
  <div class="btn-group">
    <button mat-button [routerLink]="['/admin/']">Svi korisnici</button>
    <button mat-button [routerLink]="['/admin/my-profile']">Moj Profil</button>
    <button mat-button [routerLink]="['/admin/change-password']">
      Promeni lozinku
    </button>
    <button mat-button (click)="logOut()">Izlogujte se</button>
  </div>
</header>

<header *ngIf="user?.type == 'production-manager'">
  <img
    src="../assets/img/banner.png"
    alt="banner png"
    [routerLink]="['/production-manager/']"
  />
  <div class="btn-group">
    <button mat-button [routerLink]="['/production-manager/']">
      Svi radni nalozi
    </button>
    <button mat-button [routerLink]="['/production-manager/my-profile']">
      Moj Profil
    </button>
    <button mat-button [routerLink]="['/production-manager/change-password']">
      Promeni lozinku
    </button>
    <button mat-button (click)="logOut()">Izlogujte se</button>
  </div>
</header>

<header *ngIf="user?.type == 'head-of-procurement'">
  <img
    src="../assets/img/banner.png"
    alt="banner png"
    [routerLink]="['/head-of-procurement/']"
  />
  <div class="btn-group">
    <button mat-button [routerLink]="['/head-of-procurement/']">Nabavka</button>
    <button mat-button [routerLink]="['/head-of-procurement/materials']">
      Materijali
    </button>
    <button mat-button [routerLink]="['/head-of-procurement/needs']">
      Trebovanje
    </button>
    <button mat-button [routerLink]="['/head-of-procurement/my-profile']">
      Moj Profil
    </button>
    <button mat-button [routerLink]="['/head-of-procurement/change-password']">
      Promeni lozinku
    </button>
    <button mat-button (click)="logOut()">Izlogujte se</button>
  </div>
</header>

<header *ngIf="user?.type == 'stockkeeper'">
  <img
    src="../assets/img/banner.png"
    alt="banner png"
    [routerLink]="['/stockkeeper/']"
  />
  <div class="btn-group">
    <button mat-button [routerLink]="['/stockkeeper/']">Nabavke</button>
    <button mat-button [routerLink]="['/stockkeeper/materials']">
      Materijali
    </button>
    <button mat-button [routerLink]="['/stockkeeper/needs']">Trebovanje</button>
    <button mat-button [routerLink]="['/stockkeeper/my-profile']">
      Moj Profil
    </button>
    <button mat-button [routerLink]="['/stockkeeper/change-password']">
      Promeni lozinku
    </button>
    <button mat-button (click)="logOut()">Izlogujte se</button>
  </div>
</header>

<header *ngIf="user?.type == 'production-worker'">
  <img
    src="../assets/img/banner.png"
    alt="banner png"
    [routerLink]="['/production-worker/']"
  />
  <div class="btn-group">
    <button mat-button [routerLink]="['/production-worker/']">
      Svi nalozi
    </button>
    <button mat-button [routerLink]="['/production-worker/needs']">
      Trebovanje
    </button>
    <button mat-button [routerLink]="['/production-worker/my-profile']">
      Moj Profil
    </button>
    <button mat-button [routerLink]="['/production-worker/change-password']">
      Promeni lozinku
    </button>
    <button mat-button (click)="logOut()">Izlogujte se</button>
  </div>
</header>
