<div class="err-msg">
    <h2>{{errMsg}}</h2>
</div>
<div class="content">
    <div class="center-content" [formGroup]="form">
        <mat-card class="card">
            <mat-card-header>
                <h2>PROMENA LOZINKE</h2>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="full-width">
                    <mat-label [ngClass]="{error: resMsg == 'password'}">Stara lozinka</mat-label>
                    <input name="password" (input)="onChange()" type="password" matInput formControlName="password">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    <mat-error *ngIf="form.controls['password'].errors && form.controls['password'].errors['required']">
                        Polje je obavezno
                    </mat-error>
                    <mat-hint class="error" *ngIf="resMsg == 'password'">Uneli ste neispravnu lozinku</mat-hint>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label [ngClass]="{error: resMsg == 'password'}">Nova lozinka</mat-label>
                    <input name="new_password" formControlName="new_password" (input)="onChange()" type="password" matInput>
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    <mat-error *ngIf="form.controls['new_password'].errors && form.controls['new_password'].errors['required']">
                        Polje je obavezno
                    </mat-error>
                    <mat-error *ngIf="form.controls['new_password'].errors && form.controls['new_password'].errors['pattern']">
                        Lozinka nije u ispravnom formatu
                    </mat-error>
                    <mat-hint>
                        Lozinka treba da ima bar 1 malo slovo, bar 1 veliko, bar 1 broj, bar 1 specijalni karakter i najmanje 8 karaktera
                    </mat-hint>
                    <mat-hint class="error" *ngIf="resMsg == 'password'">Uneli ste neispravnu lozinku</mat-hint>
                </mat-form-field>
                <button class="login-btn" (click)="update()">Izmeni</button>

            </mat-card-content>
        </mat-card>
    </div>
</div>