table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
    width: 50%;
}

div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    height: 78vh;
}

table {
    width: 50%;
    height: 100%;
}