.add-btn {
    background-color: black;
    color: white;
    height: 35px;
    width: 100px;
    margin-top: 15px;
}

.add-order {
    width: 100%;
    padding-left: 2vw;
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
}