<div>
    <div class="add-user">
        <button (click)="addUser()" class="add-btn">Dodaj korisnika</button>
    </div>
    <mat-grid-list cols="3" class="users-gallery">
        <mat-grid-tile *ngFor="let user of users; let id = index">
            <mat-card class="card">
                <div class="card-img">
                    <img *ngIf='user?.pic == null' src="../assets/img/picture.png" alt="profile pic">
                    <img *ngIf='user?.pic != null' [src]="user?.pic" alt="profile pic">
                </div>
                <h2 class="users-name"><b>{{user?.firstName}} {{user?.lastName}}</b></h2>
                <div class="btn-group">
                    <button (click)="userDetails(id)">Detalji</button>
                    <button (click)="deleteUser(id)">Obriši</button>
                    <button (click)="editUser(id)">Izmeni</button>
                    <button (click)="resetPassword(id)">Resetuj lozinku</button>
                </div>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>